 body{
     margin: 0px;
     font-family: "e-Ukraine", sans-serif;
     font-size: 13px;
     background: #f6f1f1b3;
}

.bimg___t{
    margin-block: 10px;
    text-align: center;
    border-radius: 10px;
}

.te-x{
    color: blue;
    font-size: 19px;
    line-height: 34px;
    margin: 8px 0 16px;
}

 .text__js{
    font-size: 30px;
    line-height: 40px;
    margin: 30px 0 24px;
    text-align: center;
}

.card{
    padding: 20px;
    margin: 30px;
    background-color: #dcaa39;
    border-radius: 10px;
}

.te__s{
     font-size: 17px;
     line-height: 30px;
     padding: 20px;
     color: #000;
}

.page{
    padding: 5px 120px;
}

.h2__t{
    text-align: center;
    font-size: 20px;
    color: #000;
}

.te-a2{
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.card__2{
   background-color: #edf2f4;
   margin: 30px;
   border-radius: 10px;
   padding: 30px;
}

.te__xs{
    color: #000;
    font-size: 15px;
    line-height: 30px;
    padding: 40px;
}

.blog__text{
    padding-left: 50px;
    color: #4caf50;
    margin-bottom: 40px;
}

.card__te{
    text-align: center;
    color: #000;
    font-size: 19px;
}

.video{
    text-align: center;
    background-color: #edf2f4;
    margin: 30px;
    padding: 20px;
    width: 660px;
    border-radius: 10px;
}
